.button {
  background-color: #ee626b;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: 0.25px;
}

.button + .button {
  margin-top: 10px;
  margin-left: 5px;
}

.boldText {
  font-weight: bold;
}