.inputField {
  width: 100%;
  max-width: 300px; /* Set your desired maximum width */
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #4a4a4a;
  margin: 0 auto 30px; /* Center the input field and add bottom margin */
  display: block;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.labelAbove {
  display: block;
  font-size: 20px;
  margin-bottom: 8px; /* Adjust the spacing between label and input */
}

.textareaField {
  width: 100%;
  height: 130px;
  border-radius: 25px;
  padding: 20px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 30px;
}

.submitButton {
  display: flex;
  height: 50px;
  line-height: 50px;
  background-color: #ee626b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: #0071f8;
}

.errorText {
  display: block;
  color: red;
  font-size: 14px;
}
